<div class="tags">
Tag:
<% Tag.all.each do |tag| %>
	<% if tag.id == params[:tag_id].to_i %>
		<span class="current_tag"><%= tag.value %></span>
	<% else %>
		<%= link_to tag.value, [:cost, tag, :messages ] %>
	<% end %>
<% end %>
</div>

