
/*m*/
$dark_magenta: #884488;
$very_dark_magenta: darken($dark_magenta, 25%);

header {
padding: #moderate;
background-color: $dark_cyan;
color: $very_light_gray;
span.logo-mark {
font-weight: blod;
}
a {
float: right;
color: $very_light_gray;
}
}
