
<% @staff_members.each do |m| %>
	<% p = CostMemberPresenter.new(m, self)%>
	<tr>
		<td><%= m.family_name %><%= m.given_name %></td>
		<td><%= m.family_name_kana %><%= m.given_name_kana%></td>
	</tr>
