<% @title = 'Permit IP addr list' %>
<h1><%= @title %></h1>

<div id="generic-form" class="table-wrapper">
#<div class="table-wrapper">
	<div>
		<%= render 'new_allowed_source' %>
	</div>
<table class="listing">
	<tr>
		<th>IP addr</th>
		<th>Created Date</th>
	</tr>
	<% @allowed_sources.each do |s| %>
		<% p = AllowedSourcePresenter.new(s, self)%>
		<tr>
			<td class="ip"><%= p.ip_address %></td>
			<td class="date"><%= p.created_at %></td>
		</tr>
	<% end %>
</table>
</div>



