<% p = MessagePresenter.new(@message, self) %>
<table class="attributes">
	<% p = MessagePresenter.new(@message, self) %>
	<tr><th>sender</th><td><%= p.sender %></td></tr>
	<tr><th>subject</th><td><%= p.subject%></td></tr>
	<tr><th>create_at</th><td class="date"><%= p.create_at %></td></tr>
</table>
<div class="body"><%= p.formatted_body %></div>

