xxx.xxx{
input[type='radio']+label {display: inline-block}
input[type='radio']+label {display: inline-block}
}
div.input-block {
input {margin-right: $narrow * 2; }
}
div.notes{
}

span.instruction{font-size: $small; color: $dark_gray;}
div.input-block {
}

div.buttons{
text-align: center;
inut[type='submit']{
padding: $wide $wide * 2;
}
}
div.field_with_errors{
display: inline:
padding: 0;
label {color: $red;}
input {background-color: $pink;}
}

div.with-errors{
label{color: $red;}
input, select {background-color: $pink;}
}
div.error-message{
}

