<% @title = 'Account Info' %>
<h1><%= @title %></h1>
<div class="table-wrapper">
	<div class="links">
		<%= link_to 'Edit Account Info', :edit_cost_account %> |
		<%= link_to 'Update Pass', :edit_cost_password %>
	</div>
	#...
	<tr>
		<th>E-mail</th>
		<td class="email">
			<%= @cost_member.email %>
		</td>	
	</tr>
	<tr>
		<th>Pass</th>
		<td class="password">xxxxxxx</td>	
	</tr>

</div>





